name: Injectable

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  major: 2
  minor: 0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Set Build Number 
      shell: pwsh
      run: |
        $Branch = "${{ github.ref }}"
        $BranchName = "${{ github.ref_name }}".ToLower()

        if ('${{ github.event_name }}' -eq 'pull_request') {
            $BranchName = "PR${{ github.event.number }}"
        }

        # Fetch the latest tags from the repository
        git fetch --tags
        $LastTag = git tag --sort=-version:refname -l "v[0-9].[0-9].[0-9]" | Select-Object -First 1
        $Date = (Get-Date).ToUniversalTime().ToString("yyyyMMdd-HHmmss")

        Write-Host "Last Tag: $LastTag"

        # If a tag exists, split it into major, minor, and patch version
        if ($LastTag) {
            $LastTag = $LastTag.TrimStart("v")
            $LastMajor, $LastMinor, $LastPatch = $LastTag.Split(".")

            $Major = $env:major
            $Minor = $env:minor

            # Increment the patch version based on the last tag
            if ($Major -eq $LastMajor -and $Minor -eq $LastMinor) {
                $Patch = [int]$LastPatch + 1
            } else {
                # Reset patch if major or minor has changed
                $Patch = 0
            }

            # Construct the build version
            $BuildNo = "$Major.$Minor.$Patch"
        } else {
            # Fallback if no tags exist
            Write-Host "Last Tag Missing"
            $BuildNo = "0.0.0"
        }

        # Append branch name and date for non-main branches
        if ($Branch -ne 'refs/heads/main') {
            $BuildNo = "$BuildNo-$BranchName-$Date"
        }
        
        Write-Host "BuildNo: v$BuildNo"
        echo "BuildNo=$BuildNo" | Out-File -FilePath ${{ github.env }} -Encoding utf-8 -Append
    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Pack Injectable
      run: |    
        echo "Package version: $BuildNo"
        dotnet pack Injectable/Injectable.csproj --configuration Release --output ./packages -p:PackageVersion=$BuildNo --verbosity minimal

    - name: Pack Injectable.Abstractions
      run:  |    
        echo "Package version: $BuildNo"
        dotnet pack Injectable.Abstractions/Injectable.Abstractions.csproj --configuration Release --output ./packages -p:PackageVersion=$BuildNo --verbosity minimal

    - uses: actions/upload-artifact@v4
      with:
        name: packages
        path: ./packages/**/*.nupkg

    - name: Tag commit
      shell: pwsh
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
        git tag -a "v$env:BUILD_NO" -m "Increment Build No"
        git push origin "v$env:BUILD_NO"

  deployment:
    runs-on: ubuntu-latest
    environment: Nuget
    needs: build
    steps:
    - name: Download Build Artifacts
      uses: actions/download-artifact@v4
      with:
        name: packages

    - name: Publish to NuGet
      run: dotnet nuget push **/Injectable*.nupkg --source "https://api.nuget.org/v3/index.json" --api-key ${{ secrets.NUGET_PAT }}